.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 45px; /* Sesuaikan tinggi div dengan kebutuhan Anda */
  bottom: 0;
  width: 100%;
}
.footer p {
  text-align: center;
  margin: 0;
}
/* .bg-footer {
  background-color: #79e0ee;
} */
body {
  overflow-x: hidden;
}

/* Tabel responsif */
.container {
  overflow-x: auto;
}

/* Gaya tambahan untuk tabel */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* button */
button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background: #d6faff;
  border-color: #d6faff;
  border: 1px;
  border-radius: 1px;
  color: #fff;
}

button:hover {
  letter-spacing: 0.25em;
  background: #d6faff;
  color: #d6faff;
  box-shadow: 0 0 45px#d6faff;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: rgb(33, 37, 41);
}

button span {
  position: relative;
  z-index: 1;
}

button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: "";
  position: absolute;
  border: 2px solid #d6faff;
  width: 7px;
  height: 4px;
  top: -3.5px;
  left: 80%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::before {
  width: 20px;
  left: 20%;
}

button i::after {
  content: "";
  position: absolute;
  border: 2px solid #d6faff;
  width: 7px;
  height: 4px;
  bottom: -3.5px;
  left: 20%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::after {
  width: 20px;
  left: 80%;
}

/* Media queries */
/* @media screen and (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th,
  td {
    display: block;
    text-align: left;
  }

  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  } */

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 1px solid #d6faff;
  border-radius: 10px;
}

.icon {
  width: 200px;
  height: 200px;
}
